  /* Estilos básicos */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login-container h2 {
    margin-bottom: 1.5rem;
    color: #333333;
}
.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #666666;
}
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
}
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
    outline: none;
    border-color: #008cba;
}
.submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #a70808;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover {
    background-color: #006a94;
}
.register-link {
    display: block;
    margin-top: 1rem;
    color: #a70808;
    text-decoration: none;
}
.register-link:hover {
    text-decoration: underline;
    color: #006a94;
}